.place__title {
  align-self: end;
  /* Сброс стандартного внешнего вида */
  margin: 0;
  /* Параметры шрифта */
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media screen and (max-width:900px) {
  .place__title {
    /* Плавное уменьшение размера шрифта при изменении ширины браузера */
    font-size: 8vw;
    line-height: 1.1;
  }
}

@media screen and (max-width:768px) {
  .place__title {
    /* Плавное уменьшение размера шрифта при изменении ширины браузера */
    font-size: 5.47vw; /* Соответствует макету для vw=768px */
    line-height: 1.1;
  }
}

@media screen and (max-width:600px) {
  .place__title {
    font-size: 10vw; /* Соответствует макету для vw=320px */
    line-height: 1.09;
  }
}

@media screen and (max-width:320px) {
  .place__title {
    font-size: 32px; /* Фиксированное значение, чтобы больше не уменьшался */
  }
}
