.header__link-list {
  /* Обнуление полей у станадртного элемента*/
  margin: 0;
  padding: 0;
  /* Убирает внешнее оформление у списка*/
  list-style: none;
  /* Расположение элементов внутри*/
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  margin-bottom: 6px;
  font-size: 24px;
}

@media screen and (max-width: 425px) {
  .header__link-list {
    /* Меньше шрифт и поля на маленьких экранах */
    font-size: 18px;
    margin-bottom: 8px;
  }
}
