.header__link-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  margin-bottom: 6px;
  font-size: 24px;
}

@media screen and (max-width: 425px) {
  .header__link-list {
    font-size: 18px;
    margin-bottom: 8px;
  }
}
