/* Расстояние между секциями контента */
.page__section_position_main {
  margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .page__section_position_main {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .page__section_position_main {
    margin-bottom: 64px;
  }
}
