/* Стандартные поля элементов на очень большом экране 1025...*/
@media screen and (min-width: 1025px) {
  .content__element_follow-grid_size-XL-standard {
    max-width: calc(1280px - 2 * 48px);
    width: calc(100% - 2 * 48px);
    /* margin-left: 48px;
    margin-right: 48px; */
  }
}
