.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 28px;
  padding-bottom: 48px;;
}

@media screen and (min-width: 1280px) {
  .header {
    padding-bottom: 56px;
  }

}

@media screen and (max-width: 425px) {
  .header {
    padding-top: 16px;
  }
}
