.header {
  /* Расположение элементов в блоке */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /* Внутренние поля по макету */
  padding-top: 28px;
  padding-bottom: 48px;
}

@media screen and (min-width: 1280px) {
  .header {
    /* Меньше поля на маленьких экранах */
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    /* Меньше поля на маленьких экранах */
    padding-top: 16px;
  }
}
