.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 28px;
  padding-bottom: 48px;;
}

@media screen and (min-width: 1280px) {
  .header {
    padding-bottom: 56px;
  }

}

@media screen and (max-width: 425px) {
  .header {
    padding-top: 16px;
  }
}






.header__logo {
  height: 52px;
}

@media screen and (max-width: 425px) {
  .header__logo {
    height: 42px;
  }

}






.header__link-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  margin-bottom: 6px;
  font-size: 24px;
}

@media screen and (max-width: 425px) {
  .header__link-list {
    font-size: 18px;
    margin-bottom: 8px;
  }
}



.header__link {
  color: #fff;
  text-decoration: none;
  transition: opacity .5s;
}

.header__link:hover {
  opacity: .8;
}


.header__link_active {
  text-decoration: underline;
}
