.lead__title {
  /* Обнуление стандартных стилей браузера */
  margin: 0;
  /* Параметры шрифта */
  font-size: 96px;
  line-height: 1.04;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  /* Размеры блока по макету */
  max-width: 720px;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .lead__title {
    min-width: calc(100% - 2 * 24px); /* Поля на маленьких экранах */
    font-size: 12.5vw; /* Плавное уменьшение размера шрифта, чтобы не переполнял экран */
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    min-width: calc(100% - 2 * 16px); /* Поля на маленьких экранах */
    line-height: 1.1; /* Размеры по макету*/
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 40px; /* Окончательный размер шрифта на маленьких экранах по макету */
  }
}
