.lead__subtitle {
  /* Обнуление стандартных стилей браузера */
  margin: 0;
  /* Параметры шрифта */
  font-size: 30px;
  line-height: 1.2;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  /* Размеры блока по макету */
  max-width: 640px;
  margin-bottom: 56px;
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    margin-bottom: 64px; /* Увеличение отступа на больших экранах по макету*/
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin-right: 64px;
    margin-left: 64px;
    font-size: 3.9vw; /* Плавное уменьшение размера шрифта, чтобы не переполнял экран */
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    margin-right: 16px;
    margin-left: 16px;
    font-size: 5vw; /* Другое плавное уменьшение размера шрифта, чтобы не переполнял экран */
    line-height: 1.25; /* Размеры по макету*/
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px; /* Окончательный размер шрифта на маленьких экранах по макету */
  }
}
