/* Расстояние между секциями контента */
.content__main-section {
  margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .content__main-section {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .content__main-section {
    margin-bottom: 64px;
  }
}
