.place {
  /* Сетка внутри блока */
  display: grid;
  grid-template-columns: 47.22% 1fr; /* Ограничение на ширину 1-й колонки по макету */
  row-gap: 48px;
  column-gap: 32px;
}

@media screen and (min-width: 1280px) {
  .place {
    column-gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    /* Переход на верстку с 1-й колонкой
    в нестандартном для проекта брейкпойнте,
    чтобы сохранить читаемость колонки с текстом
    на маленьких экранах*/
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 32px;
  }
}
