/* Секция, которая на экранах от десктопа и меньше занимает всю шириную */
.page__section_width_desktop-full {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
  .page__section_width_desktop-full {
    margin-left: 0;
    margin-right: 0;
  }
}
