/* Секция, которая на экранах больше десктопа занимает меньше места, чем обычная */
.page__section_width_XL-narrow {
  max-width: calc(1280px - 2 * 148px);
}

@media screen and (min-width: 1024px) {
  .page__section_width_XL-narrow {
    /* Одновременно центрирует на больших экранах и делает плавный переход */
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
  }

}
