.place__description {
  /* Принудильный перенос текста при переполнении,
  особенно на маленьких экранах*/
  word-break: break-word;
  /* Сброс позиционирования элемента content__element */
  margin-left: 0;
  margin-right: 0;
}
